build
polyiou_wrap.cxx
.idea/DOTAPreprocess.iml
*.so
*.jpg
**/.idea/
*pyc
examplesplit
__pycache__/
.ipynb_checkpoints/
Task1_merge/*.txt
Task1/*.txt
restoredexample/*
.vscode
_my_test*
*.pyd
example/imagesSplit/*
example/imageset.txt
example_split/*
poly_nms_gpu/poly_nms.cpp
poly_nms_gpu/poly_overlaps.cpp
*.zip